@using System.Text.Json;
@{
    var data = Context.Request.Cookies["userData"];
    string tokenValue = "";
    if (data != null)
    {
        var tokenObject = JsonDocument.Parse(data).RootElement;
        if (tokenObject.TryGetProperty("user", out var userElement))
        {
            if (userElement.TryGetProperty("userName", out var usernameElement))
            {
                tokenValue = usernameElement.GetString();
            }
        }
    }
}
@if (Context.Request.Cookies["userData"] != null)
{
    <div style="position: absolute; left: 89%;">
        <ul class="custom-dropdown-menu">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/images/2176366.png" height="35" alt="Profile" id="profileTooltip" title="User Profile" class="margin-top-10">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <div class="profile-tooltip text-center text-primary">
                    Hello,Welcome @tokenValue
                    <button id="logoutForm" class="dropdown-item">
                        <span class="text-danger">Logout</span>
                    </button>
                </div>
            </div>
        </ul>
    </div>
}
